//专门存放混合的公共样式
//共享的一些混合

//清除浮动

@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
   
}